@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl mb-0;
  }
  h2 {
    @apply text-3xl mb-0;
  }
  h3 {
    @apply text-2xl mb-0 font-mono;
  }
  h4 {
    @apply text-2xl mb-0;
  }
}

.readme h1, h2, h3, h4 {
  @apply my-3
}

#outerCircle {
  /* width: 100%;
  height: 80%; */
  /* background-color: white; */
  clip-path: circle(40% at 50% 50%);
}
#innerCircle {
  /* width: 70%;
  height: 70%; */
  clip-path: circle(40% at 50% 50%);
}

@keyframes trace-outline {
    from {
        text-shadow: 1px 0px 10px pink, 0px 1px 10px red, -1px 0px 10px pink, 0px -1px 10px red;
    }
    to {
        text-shadow: 1px 0px 1px pink, 0px 1px 1px pink, -1px 0px 1px pink, 0px -1px 1px pink;
    }
}

#prismicText {
  margin-top: 100%;
  height: 200%;
}

@keyframes popupText {
  from {
    margin-top: 100%;
    height: 200%;
  }
  to {
    margin-top: 0%;
    height: 100%
  }
}

@keyframes popdownText {
  from {
    margin-top: 0%;
    height: 100%;
  }
  to {
    margin-top: 100%;
    height: 200%;
  }
}

#gatsbyText {
  margin-right: 100%;
  margin-left: -100%;
}

@keyframes leftinText {
  from {
    margin-right: 100%;
  }
  to {
    margin-right: 0%;
  }
}

@keyframes leftoutText {
  from {
    margin-right: 0%;
  }
  to {
    margin-right: 100%;
  }
}

#tailwindText {
  margin-left: 100%;
  width: 200%;
}

@keyframes rightinText {
  from {
    margin-left: 100%;
    width: 200%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes rightoutText {
  from {
    margin-left: 0%;
    width: 100%;
  }
  to {
    margin-left: 100%;
    width: 200%;
  }
}


